altgraph
asgiref
astroid
autopep8
certifi
chardet
colorama
defusedxml
Django
django-allauth
future
idna
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
oauthlib
pefile
pep8
pillow
pycodestyle
PyInstaller
pylint
python3-openid
pytz
pywin32-ctypes
requests
requests-oauthlib
six
sqlparse
tk
urllib3
wrapt
